<div id="kidsContainer">
  <section id="kidsFilter">
    <p id="clearF">Clear Filter</p>
    <h2 class="hidden">Filter</h2>
    <div class="filterOption" id="filter1"><p>Movies</p></div>
    <div class="filterOption" id="filter2"><p>Tv</p></div>
    <div class="filterOption" id="filter3"><p>Music</p></div>
    <div class="filterOption" id="filter4"><p>Favourites</p></div>
  </section>
  <section id="secondaryFilters">
    <h2 class="hidden"> Secondary Filter</h2>
    <div class="movieFilter hidden">
      <p class="kidsIntro2">What Kind of Movies?</p>
      <div class="secF" id="adventure"><p>Adventure</p></div>
      <div class="secF" id="comedy"><p>Comedy</p></div>
      <div class="secF" id="educational"><p>Educational</p></div>
      <div class="secF" id="serious"><p>Serious</p></div>
      <div class="secF" id="sports"><p>Sports</p></div>
    </div>
    <div class="tvFilter hidden">
      <p class="kidsIntro2">What Kind of Shows?</p>
      <div class="secF" id="cartoon"><p>Cartoon</p></div>
      <div class="secF" id="education"><p>Education</p></div>
      <div class="secF" id="funny"><p>Funny</p></div>
      <div class="secF" id="history"><p>History</p></div>
    </div>
    <div class="musicFilter hidden">
      <p class="kidsIntro2">What Kind of Music?</p>
      <div class="secF" id="pop"><p>Pop</p></div>
      <div class="secF" id="country"><p>Country</p></div>
      <div class="secF" id="dance"><p>Dance</p></div>
      <div class="secF" id="rock"><p>Rock</p></div>
      <div class="secF" id="disney"><p>Disney</p></div>
    </div>
  </section>
  <div id="movies">
    <div id="kidsMovies">
      <h2>MOVIES!</h2>
      {{#each movieData}}
      <a class="movieLink" href="/movies/{{movie_id}}" id="{{movie_id}}">
        <div class="movieThumb">
          <img src="images/{{movie_thumbnail}}" alt="{{movie_title}}">
          <h3>{{movie_title}}</h3>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <div id="music">
    <div id="kidsMusic">
      <h2>MUSIC!</h2>
      {{#each musicData}}
        <div class="musicThumb">
          <img class="musicCover" src="images/{{music_thumbnail}}" alt="{{music_name}}">
          <audio controls class="audio" src="audio/{{music_link}}"></audio>
          <h3>{{music_name}}</h3>
          <p>{{music_artist}}</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div id="tv">
    <div id="kidsTv">
      <h2>TV SHOWS!</h2>
      {{#each tvData}}
        <div class="movieThumb">
          <img src="images/{{tv_thumbnail}}" alt="{{tv_name}}">
          <h3>{{tv_name}}</h3>
          <p>{{tv_artist}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
