  <div id="watchMovies">
    <a id="homeButton" href="./">Home</a>
    <div class="watchContent" id="{{singleData.tv_id}}">
      <video controls class="mainVideo" src="/videos/{{singleData.tv_video}}" alt="{{singleData.tv_name}}" poster="/images/{{singleData.tv_thumbnail}}"></video>
      <div id="mainText">
        <h2 id="mainTitle">{{singleData.tv_name}}</h2>
        <p id="year">Episodes: {{singleData.tv_episode}}</p>
        <p id="rating">Rating: {{singleData.tv_rating}}</p>
        <p id="desc">{{singleData.tv_desc}}</p>
          <div class="socials">
            <a href="#">
              <img src="/images/twitter.svg" alt="twitter">
            </a>
          </div>
          <div class="socials">
            <a class="socials" href="#">
              <img src="/images/facebook.svg" alt="twitter">
            </a>
          </div>
          <div class="socials">
            <a class="socials" href="#">
              <img src="/images/instagram.svg" alt="twitter">
            </a>
          </div>
        <br>
      </div>
    </div>
    <div id="reviews">
      <h2>Reviews!</h2>
      {{#each reviewData}}
        <h3 id="reviewName">{{review_name}}</h3>
        <p id="reviewComment">{{review_comment}}</p>
      {{/each}}
    </div>
    <div class="writeReview">
      <h2>Write a review!</h2>
      <form method="post">
        <p>Your Name:</p>
        <input type="text">
        <p>Your Review:</p>
        <textarea name="review" rows="8" cols="50"></textarea><br>
        <input id="submitRev" type="submit" value="Submit!">
      </form>
    </div>
  </div>
