<a href="/">
  <i class="fa-fa-home"></i>
</a>
<header id="mainHeader">
  <h1 id="logo">{{ title }}</h1>
</header>
  <div id="parentMovies">
    {{#each movieData}}
    <div class="movieThumb" id="{{movie_id}}">
      <video controls class="mainVideo" src="videos/{{movie_trailer}}" alt="{{movie_title}}" poster="images/{{movie_thumbnail}}"></video>
      <div id="mainText">
        <h2 id="mainTitle">{{movie_title}}</h2>
        <p id="year">{{movie_year}}</p>
        <p id="rating">{{movie_rating}}</p>
        <p id="desc">{{movie_desc}}</p>
        <a class="socials" href="{{movie_twitter}}">Twitter</a>
        <a class="socials" href="{{movie_fb}}">Facebook</a>
        <a class="socials" href="{{movie_insta}}">Instagram</a><br>
      </div>
      <img id="movieCover" src="images/{{movie_cover}}" alt="{{movie_title}}">
    </div>
    {{/each}}
  </div>
</div>
